<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotube</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="playlist-header-div">
      <img src="<%= playlistImg %>" alt="Playlist banner" width="150px" height="150px"/>
      <h1 class="playlist-header"><%= playlistName %></h1>
    </div>
    <div class="my-playlists-div">
        <% tracks.forEach(track => { %>
          <form action="/convertToYoutube" method="POST">
            <div class="playlist-elements" onclick="this.parentNode.submit()">
              <img class="playlist-banner" src="<%= track[1] %>" alt="Track image">

              <div class="track-info">
                <% if (track[1] === "Spotify_App_Logo.svg.png") { %>
                  <p class="playlist-name">
                    Song Not Available :&#40;
                  </p>
                <% } else { %>
                  <p class="track-name">
                    <%= track[0] %>
                  </p>
                  <div class="artist-names">
                    <% for(let artist = 0; artist < track[2].length; artist++) { %>
                      <p class="artist-name">
                        <%= track[2][artist] %>
                      </p>
                      <% if(artist != track[2].length-1) { %>
                        <p class="artist-name">,</p>
                      <% } %>
                    <% }; %>
                  </div>
                <% } %>
              </div>
            </div>
          </form>
        <% }); %>
      </div>      
</body>

</html>